body{
    background-color: rgb(245, 225, 199);
    text-align: center;

    color: rgb(251, 158, 158);
    padding: 30px;


}
.res{
    margin: 20px;
    font-size: 30px;
    color: rgb(251, 158, 158);
}
.inputN{
    font-size: 30px;
}
.titulo{
    font-size: 40px;
}